<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Spring Web Registration Form Demo</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>
<div class="container">
    <div class="bg-light p-4 rounded-lg mb-2">
        <div class="d-grid gap-1">
            <a class="btn btn-success btn-lg" href="/register" role="button">Click here to register</a><br/>
        </div>
        <h1 class="display-4">Today's Most Popular Stories</h1>
        <th:block th:unless="${articleList.isEmpty()}"
                  th:with="partitions=${T(org.apache.commons.collections4.ListUtils).partition(articleList, 4)}">
            <div class="row" th:each="partition: ${partitions}">
                <div class="col" th:each="article: ${partition}">
                    <div class="card" style="width: 18rem; height: 34rem;">
                        <img th:unless="${article.imageUrl == null}" th:src="${article.imageUrl}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${article.title}">title</h5>
                            <p class="card-text" th:text="${article.summary}">summary</p>
                            <a th:href="${article.url}" class="btn btn-success">Read More..</a>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
<div th:replace="fragments :: footer"/>
</body>
</html>